@font-face {
    font-family: "Neo Sans Bold Italic";
    src: url("./fonts/Neo\ Sans\ Std\ Bold\ Italic.otf") format("woff2");
}

:root {
    font-size:62.5%;
    --vermelho-SENAI: #e30613;
    --branco-SENAI: #ffffff;
    --preto-SENAI: #000000;
    --cinza-SENAI: #878787;

}

body {
    background-color: rgb(206, 206, 206);
}

.cabecalho {
    display: flex;
    flex-direction: column;
    padding: 2px 5px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--vermelho-SENAI);
    
    h1{
        font-family: "Neo Sans Bold Italic";
        color: var(--branco-SENAI);
        font-size: 5.5rem;
    }

    p {
        font-family: "Neo Sans Bold Italic";
        color: var(--branco-SENAI);
        font-size: 2.5rem;
    }

    a {
        margin: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: var(--branco-SENAI);
        font-size: 2rem;
    }
}
.evento-original{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-decoration: none;

    a {
        text-decoration:underline;
        font-size: 3rem;
        color: var(--preto-SENAI);
    }

    h3 {
        font-size: 4rem;
    }

    img {
        display: flex;
    }
}

.nenhum-evento {
    p {
        font-size: 2rem;
        margin-left: 30px;
    }
};
